h1.page-heading {
    margin: 2rem 0 2rem 0;
    color: #212529;
}
ul.list-group a {
    color: #212529;
}
ul.list-group a:hover {
    color: #212529;
}
.validation-error-message {
    font-size: 80%;
    color: #dc3545;
}